$invisible: rgba(0, 0, 0, 0);
$err: #ff7171;
$background: #fff;
$background-shadow: 0px 12px 24px rgba(44, 39, 56, 0.02), 0px 32px 64px rgba(44, 39, 56, 0.04);
// Btn-colors
$reg-border: rgba(44, 39, 56, 0.86);
$reg-normal: #0880ae;
$reg-hover: #0880ae;
$reg-active: #0880ae;
$reg-disabled: #dbe2ea;
$regShadow-normal: 0px 2px 4px rgba(44, 39, 56, 0.08), 0px 4px 8px rgba(44, 39, 56, 0.08);
$regShadow-hover: 0px 12px 24px rgba(44, 39, 56, 0.08), 0px 24px 48px rgba(44, 39, 56, 0.16);
$regShadow-active: 0px 2px 4px rgba(44, 39, 56, 0.0001), 0px 4px 8px rgba(44, 39, 56, 0.08);
$regShadow-disabled: 0px 4px 8px rgba(44, 39, 56, 0.08);
$btnText: #ebf4f8;
$btnText-disabled: #2c2738;
//Input
$text: #2c2738;
$link: #0880ae;
$placeholder: #7c9cbf;
$label: #756f86;
$input-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
$input-border: #dbe2ea;
$focus-border: #0880ae;
$select-hover: #ebf4f8;
