@import "./mixins";

@include addfont("IBM Plex Sans", "IBM_Plex_Sans/IBMPlexSans-Medium.ttf", 500);
@include addfont("IBM Plex Sans", "IBM_Plex_Sans/IBMPlexSans-Regular.ttf", 400);
@include addfont("IBM Plex Sans", "IBM_Plex_Sans/IBMPlexSans-Bold.ttf", 700);

body {
  margin: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "IBM Plex Sans", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  padding: 0;
  border: 0;
}

input {
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
}

h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
